<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.asuscomm.zhbee.avmoo_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/avmoo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity
                android:name=".Activity.Avmoo"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".Activity.SearchActivity"/>
        </activity>
        <activity
                android:name=".Activity.InnerActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        />
        <activity android:name=".Activity.TeacherInnerAcivity"/>
        <activity android:name=".Activity.CategoryActivity"/>
        <activity android:name=".Activity.PreviewActivity"/>
        <activity
                android:name=".Activity.SearchActivity"
                android:label="@string/title_activity_search"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".Activity.MagnetActivity"
                android:theme="@style/MyDialogStyle"/>
        <activity android:name=".Activity.BaseActivity"/>
        <activity android:name=".Activity.MediaSelectActivity"
                android:theme="@style/MyDialogStyle">
        </activity>
    </application>

</manifest>